<%- contentFor('body') %>
<section class="welcome">
  <header>
    <h1>Bem-Vindo <%-username%></h1>
    <a href="/welcome/loggout" class="logout">Sair</a>
  </header>

  <table>
    <h2>Suas salas</h2>
    <tr>
      <th>Nome</th>
      <th>Id</th>
      <th>Ação</th>
    </tr>

    <% rooms.forEach(room => {%>
    <tr>
      <td><a href="/room/<%= room.room_id %>"><%= room.name %></a></td>
      <td><%= room.room_id %></td>
      <td>Excluir</td>
    </tr>
    <% }); %>
  </table>

  <div class="buttons">
    <a href="/welcome/create-room">Criar uma sala</a>
    <a href="/welcome/load-room">Entrar em uma sala</a>
  </div>
</section>
