<%- contentFor('body') %>
<section class="welcome">
  <header>
    <h1>MeetApp</h1>
    <div class="profil">
      <span><%- username %> </span>
      <a href="/welcome/loggout" class="logout">Sair</a>
    </div>
  </header>

  <section class="table">
    <h2 id="page-title">Suas salas</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>Id</th>
        <th>Ação</th>
      </tr>

      <% rooms.forEach(room => {%>
      <tr>
        <td><a href="/room/<%= room.room_id %>"><%= room.name %></a></td>
        <td><%= room.room_id %></td>
        <td>Excluir</td>
      </tr>
      <% }); %>
    </table>

    <div class="buttons">
      <a href="/home/create-room">Criar uma sala</a>
      <a href="/home/load-room">Entrar em uma sala</a>
    </div>
  </section>
</section>
